USE [Lotto]
GO
/****** Object:  Table [dbo].[Integers]    Script Date: 31.07.2020 16:56:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Integers](
	[liczba] [int] NULL
) ON [PRIMARY]
GO
